doctype html 
html
    head
        title Administration de la pizzeria "Tomato"
        link(rel="stylesheet", href="/public/sass/css/admin.css")
        link(rel="stylesheet", href="/public/sass/css/index.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300&display=swap" rel="stylesheet")
    body 
        header 
            a(href="/admin-app/")
                img(src="../public/images/logo_pizzeria.jpeg")
            div 
                h1 Administration de la pizzeria "Pizza Master"
                ul 
                    include header-menu.pug 
                                    
        main
            section 
                article 
                    div
                        h2 Livreurs disponibles
                        a(href="/createdeliveryman" id="new") Ajouter un livreur
                    table(id="table")
                        tr
                        th ID
                        th Prénom
                        th Nom 
                        th Actions 
                        each dman in dMen 
                            tr
                                td #{dman.dm_id}
                                td #{dman.dm_firstname}
                                td #{dman.dm_lastname}
                                td(class="actions")  
                                    a(href=`/livreurs/edit/${dman.dm_id}`)
                                        button(type="submit" class="modify") Editer
                                    form(action=`/livreurs/delete/${dman.dm_id}` method='POST' id="formdelete")
                                        button(type="submit" class="delete") Supprimer

            aside 
                h3 Aside title
                p Text aside : Lorem ipsum dolor sit amet consectetur adipisicing elit. Error fugit animi eveniet sint iusto optio, ut inventore aspernatur deleniti quasi ratione omnis voluptatum debitis sunt deserunt possimus blanditiis velit reiciendis?
        footer