doctype html 
html
    head
        title Administration de la pizzeria "Tomato"
        link(rel="stylesheet", href="/public/sass/css/admin.css")
        link(rel="stylesheet", href="/public/sass/css/index.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300&display=swap" rel="stylesheet")
    body 
        header 
            a(href="/admin-app/")
                img(src="../public/images/logo_pizzeria.jpeg")
            div 
                h1 Administration de la pizzeria "Pizza Master"
                ul 
                    include header-menu.pug 
                                    
        main
            section 
                article 
                    div
                        h2 Liste des clients    
                        a(href="/createcustomer" id="new") Ajouter un client
                    table(id="table")
                        tr
                            th ID
                            th Prénom 
                            th Nom
                            th Adresses
                            th email 
                            th Mot de passe
                            th Action 
                            each customer in customers 
                                tr
                                    td #{customer.cus_id}
                                    td #{customer.firstname}
                                    td #{customer.lastname}
                                    td(id=`${customer.cus_id}`) 
                                        each adresse in customer.adresse
                                            div= adresse
                                    td #{customer.email}
                                    td(class="password-reset")
                                        form(action=`customers/reset` method='POST' id="formreset")
                                            
                                            input(type="hidden" name="password" id="password" value="1234")
                                            input(type="hidden" name="cus_id" id="cus_id" value=`${customer.cus_id}`)
                                            button(type="submit" class="reset") Réinitialiser
                                    td(class="actions")  
                                        a(href=`customers/edit/${customer.cus_id}`)
                                            button(type="submit" class="modify") Editer
                                        form(action=`customers/delete/${customer.cus_id}` method='POST' id="formdelete")
                                            button(type="submit" class="delete") Supprimer

            aside 
                h3 Aside title
                p Text aside : Lorem ipsum dolor sit amet consectetur adipisicing elit. Error fugit animi eveniet sint iusto optio, ut inventore aspernatur deleniti quasi ratione omnis voluptatum debitis sunt deserunt possimus blanditiis velit reiciendis?
        footer