doctype html 
html
    head
        title Administration de la pizzeria "Tomato"
        link(rel="stylesheet", href="/public/sass/css/admin.css")
        link(rel="stylesheet", href="/public/sass/css/index.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300&display=swap" rel="stylesheet")
    body 
        header 
            a(href="/admin-app/")
                img(src="../public/images/logo_pizzeria.jpeg")
            div 
                h1 Administration de la pizzeria "Pizza Master"
                ul 
                    include header-menu.pug 
                                    
        main
            section 
                article 
                    div
                        h2 Pizzas à la carte
                        a(href="/createpizza" id="new") Créer une pizza
                    table(id="table")
                        tr
                        th ID
                        th Code 
                        th Label 
                        th Ingrédients
                        th Catégorie 
                        th Prix 
                        th Version 
                        th Actions 
                        each pizza in pizzas 
                            tr
                                td #{pizza.pizz_id}
                                td #{pizza.code}
                                td #{pizza.label}
                                td #{pizza.ingredients}
                                td #{pizza.category}
                                td #{pizza.price}€
                                td v#{pizza.version}
                                td(class="actions")  
                                    a(href=`pizzas/edit/${pizza.pizz_id}`)
                                        button(type="submit" class="modify") Editer
                                    form(action=`pizzas/delete/${pizza.pizz_id}` method='POST' id="formdelete")
                                        button(type="submit" class="delete") Supprimer

            aside 
                h3 Aside title
                p Text aside : Lorem ipsum dolor sit amet consectetur adipisicing elit. Error fugit animi eveniet sint iusto optio, ut inventore aspernatur deleniti quasi ratione omnis voluptatum debitis sunt deserunt possimus blanditiis velit reiciendis?
        footer