doctype html 
html
    head
        title Administration de la pizzeria "Tomato"
        link(rel="stylesheet", href="/public/sass/css/pizzas.css")
        link(rel="stylesheet", href="/public/sass/css/index.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300&display=swap" rel="stylesheet")
    body 
        header 
            a(href="/admin-app/")
                img(src="../public/images/logo_pizzeria.jpeg")
            div 
                h1 Administration de la pizzeria "Pizza Master"
                ul 
                    li Utilisateurs
                    a(href="/pizzas")
                        li(class="active-page") Pizzas
                    li Menus
                    li Desserts
                    li Boissons
                    a(href="")
                        li(class="active-links")  Clients
                    li Commandes
                    li Livreurs
                    li Ingrédients
                    li Statistiques
                    li Promotions
                                    
        main
            section 
                article 
                    h2 Pizzas à la carte
                    table(id="table-pizzas")
                        tr
                        th ID
                        th Code 
                        th Label 
                        th Ingrédients
                        th Catégorie 
                        th Prix 
                        th Version 
                        th Action 
                        each pizza in pizzas 
                            tr
                                td #{pizza.id}
                                td #{pizza.code}
                                td #{pizza.label}
                                td #{pizza.ingredients}
                                td #{pizza.category}
                                td #{pizza.price}€
                                td v#{pizza.version}
                                td(class="pizz-actions")  
                                    a(href=`/${pizza.id}`)
                                        button(type="submit" class="modify") Editer
                                    form(action=`/${pizza.id}` method='POST' id="formdelete")
                                        button(type="submit" class="delete") Supprimer

            aside 
                h3 Test aside 
                p Test aside
        
        footer