doctype html 
html
    head
        title Administration de la pizzeria "Tomato"
        link(rel="stylesheet", href="/public/sass/css/edit.css")
        link(rel="stylesheet", href="/public/sass/css/index.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300&display=swap" rel="stylesheet")
    body 
        header 
            a(href="/admin-app/")
                img(src="/public/images/logo_pizzeria.jpeg")
            div 
                h1 Administration de la pizzeria "Pizza Master"
                ul 
                    include header-menu.pug 
                                    
        main
            section 
                article 
                    h2 Client : #{customer.firstname} #{customer.lastname}
                    a(href="/clients") Retour à la liste des clients
                    div(id="editcustomers")
                        form(action="/editcustomer" method='POST' id="formedit")
                            div
                                h3 Modifier les informations client :
                            div
                                input(type="hidden" name="cus_id" id="cus_id" value=`${customer.cus_id}` required)
                                label(for="firstname") Prénom :
                                input(type="text" name="firstname" id="firstname" value=`${customer.firstname}` required)
                            div
                                label(for="lastname") Nom : 
                                input(type="text" name="lastname" id="lastname" value=`${customer.lastname}` required)

                            each adresse in adresses
                                div
                                    label(for="adresses") Adresse : 
                                    input(type="text" name="adresses" id=`${addresse_id}` value=`${adresse.adresse}` required)
                            div
                                label(for="email") email : 
                                input(type="text" name="email" id="email" value=`${customer.email}` required)
                            div
                                label(for="password") Nouveau mot de passe : 
                                input(type="text" name="password" id="password" required)

                            div    
                                button(type="submit" name="edit" id="buttonedit") Modifier le client 
                        form(action="/addAdress" method='POST' id="addAdress")
                            div 
                                h3 Ajouter une adresse au client :
                            div
                                input(type="hidden" name="cus_id" id="cus_id" value=`${customer.cus_id}` required)
                                label(for="newadresse") Adresse : 
                                input(type="text" name="newadresse" id="newadresse" required)
                            div    
                                button(type="submit" name="edit" id="buttonedit") Ajouter une adresse ! 
            aside 
                h3 Aside title
                p Text aside : Lorem ipsum dolor sit amet consectetur adipisicing elit. Error fugit animi eveniet sint iusto optio, ut inventore aspernatur deleniti quasi ratione omnis voluptatum debitis sunt deserunt possimus blanditiis velit reiciendis?
        footer