doctype html 
html
    head
        title Administration de la pizzeria "Tomato"
        link(rel="stylesheet", href="/public/sass/css/pizzas.css")
        link(rel="stylesheet", href="/public/sass/css/index.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300&display=swap" rel="stylesheet")
    body 
        header 
            a(href="/admin-app/")
                img(src="../public/images/logo_pizzeria.jpeg")
            div 
                h1 Administration de la pizzeria "Pizza Master"
                ul 
                    include header-menu.pug 
                                    
        main
            section 
                article 
                    h2 Éditer la pizza : "#{pizza.label}"
                    a(href="/pizzas") Retour à la liste des pizzas
                    form(action="/editpizza" method='POST' id="formeditpizza")
                        div
                            input(type="hidden" name="code" id="code" value=`${pizza.code}`)
                            input(type="hidden" name="label" id="label" value=`${pizza.label}`)
                            label(for="ing") Ingrédients
                            input(type="text" name="ing" id="ing" value=`${pizza.ingredients}`)
                        div
                            label(for="cat") Catégorie 
                            input(type="text" name="cat" id="cat" value=`${pizza.category}`)
                        div
                            label(for="price") Prix 
                            input(type="number" name="price" id="price" value=`${pizza.price}`)
                            input(name="version" id="version" value=`${pizza.version}` type="hidden")
                        div    
                            button(type="submit" name="edit" id="buttoneditpizza") Modifier la pizza
            aside 
                h3 Aside title
                p Text aside : Lorem ipsum dolor sit amet consectetur adipisicing elit. Error fugit animi eveniet sint iusto optio, ut inventore aspernatur deleniti quasi ratione omnis voluptatum debitis sunt deserunt possimus blanditiis velit reiciendis?
        footer